{% comment %} <header class="border-b border-ink/10">
  <nav class="max-w-5xl mx-auto flex flex-wrap items-center justify-between gap-4 px-4 py-4">
    <a href="#" class="text-xl font-bold slashed-zero tracking-tight">0 миллиметров</a>

    <div class="flex flex-wrap gap-6 text-sm font-medium">
      <a href="#" class="hover:text-brand-dark transition-colors">Услуги</a>
      <a href="#" class="hover:text-brand-dark transition-colors">О мастере</a>
      <a href="#" class="hover:text-brand-dark transition-colors">Записаться</a>
      <a href="#" class="hover:text-brand-dark transition-colors">Контакты</a>
    </div>

    <a href="#" class="bg-brand hover:bg-brand-dark text-ink px-4 py-2 rounded-full text-sm font-semibold transition-colors">
      Записаться
    </a>
  </nav>
</header> {% endcomment %}


<header class="sticky top-0 z-50 bg-ink text-background">
  <nav class="max-w-5xl mx-auto flex flex-wrap items-center justify-between gap-4 px-4 py-4">
    <a href="{% url 'main:home' %}" class="text-xl font-bold slashed-zero tracking-tight">0 миллиметров</a>

    <div class="flex flex-wrap gap-6 text-sm font-medium">
      <a href="#" class="hover:text-brand transition-colors">Услуги</a>
      <a href="#" class="hover:text-brand transition-colors">О мастере</a>
      <a href="#" class="hover:text-brand transition-colors">Полезные советы</a>
      <a href="{% url 'main:booking_create' %}" class="text-brand hover:text-white transition-colors">Записаться</a>
    </div>

    <div class="flex items-center gap-4">

      {% if user.is_authenticated %}
        <span class="hidden sm:inline text-sm text-white">Привет, {{ user.username }} !</span>
        <a href="{% url 'main:logout' %}"
           class="text-sm font-medium border border-background/30 rounded-full px-3 py-1.5
                  hover:border-brand hover:text-brand transition-colors">
          Выйти
        </a>
      {% else %}
        <a href="{% url 'main:login' %}" class="text-sm font-medium hover:text-brand transition-colors">
          Войти
        </a>
      {% endif %}

    </div>

  </nav>
</header>